/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@600&display=swap');
*{
    padding: 0;
    margin:  0;
}
body{
    background-color: #f6f7fb;
}
.nav-wrapper{
    position:absolute;
    position:fixed; 
    width:100vw;
    z-index: 23;
}

/* hide on nav down */
.hide-on-med-and-down{
    margin-right: 20px;
}
.video-container{
    width: auto;
}
#home-video-icon{
    position: absolute;
    top:70vh;
    left: 70vw;
    cursor: pointer;
    color:#f6f7fb;
    font-size: 55px;
    z-index: 24;
}

#home-page-intro{
    background-image: url("./content/image/intro.png");
    position: relative;
    height: 120vh;
}
#home-page-slogen{
  position: absolute;
  top:58px;
  left: 70px;
}
#home-page-slogen span{
    color:white;
}
#home-big-title h2{
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    width: 400px;
    font-size: 130px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -4px;
    background-color: transparent;
    background-image: linear-gradient(160deg,#fff 19%,#FFFFFF30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 831px){
    #home-video-icon{
        left: 46vw;
        top: 36vh;
        font-size: 49px;
    }
    #home-big-title h2{
        font-size: 60px;
        width: 400px;
        letter-spacing: 1.1px;
    }
    #home-page-slogen{
        position: absolute;
        top:350px;
        left: 40px;
      }
    #home-page-intro{
        height: 120vh;
    }
}

#home-get-started{
    display: flex;
    fill: rgba(255, 255, 255, 0.469);
    color: rgba(255, 255, 255, 0.269);
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    margin-left: -7px;
    padding: 15px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    cursor: pointer;
    border-top-right-radius: 40px;
    width: 180px;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight:700;
   
}
#home-get-started:hover{
    background-color: azure;
    color:rgba(0,0,0,0.7);
    border: none;
}
#home-short-title{
    font-size: 20px;
}

#brand-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}
#brand-img img{
    padding: 20px;
    margin-top: 24px;
}
#brand-section{
    z-index: 20;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* elementor section */
#elementor-section{
    background-color: #a49220;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
display: flex;
flex-direction: column;
margin-top: 70px;

}
#elementor-section span{
    margin-top: 40px;
   text-align: left;
   margin-top: -110px;
   margin-left: 20px;
   font-size: 20px;
   color: whitesmoke;
   width: 547px;
}
#elementor-heading-title{
    font-family: "Oswald",Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    color: white;
    height: 200px;
    padding-bottom: 0px;
    margin-top: 60px;
    margin-left: 30vw;
}

.ele-btn{
    width: 200px;
    background-color: #f6f7fb;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: #84808b;
    margin-left: 30vw;
}
.ele-btn:hover {
    background-color: #84808b;
    color:whitesmoke
}

@media only screen and (max-width: 831px){
    #elementor-heading-title{
        font-size: 60px;
        width: 350px;
        text-align: left;
       color: white;
    }
    #elementor-section{
        white-space: pre-wrap;
    }
}

@media only screen and (max-width: 500px){
    #elementor-section span{
        width: 400px;
    }
}
@media only screen and (max-width: 400px){
    #elementor-section span{
        width: 300px;
    }
}
